
html{
    height: 100%;
    min-height: 1px;
    font-family: 'Roboto', sans-serif;
}
a{
    
    color: inherit;
    text-decoration: none;
    margin: 70px;
    font-size: 14px;
    line-height: 24px;
    color: #626262;
    text-transform: uppercase;
}
a:hover{
    color: blue;
}

.link{
    display: inline-block;
    list-style-type: none;

}
li{
    display: inline-block;
    list-style-type: none;

}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; 
    padding: 50px;  
}

section{
    margin: 20px;
    padding: 20px;
    width: 500px;
}


.content_articles{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; 
    flex-wrap: wrap;
    padding: 20px; 
}

.content{
    display: inline-block;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; 
    padding: 50px;
}

.content_list{
    display: inline-block;
    list-style-type: none;

}

span{
    margin-top: 120px;
    font-size: 14px;
    color: #b4ad9e;
    text-transform: uppercase;
}

h3{
    font-size: 30px;
    color: #626262;
}
p{
    font-size: 16px;
    line-height: 24px;
    color: #626262;
}

.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; 
    padding-bottom: 60px;  
}