
html{
    height: 100%;
    min-height: 1px;
    font-family: 'Myriad Pro';
}
body{
    max-width: 1200px;
}
a{
    
    color: inherit;
    text-decoration: none;
    /* margin: 70px; */
    line-height: 24px;
    line-height: 24px;
    text-transform: uppercase;
}


li{
    display: inline-block;
    list-style-type: none;


}

.link{
    display: inline-block;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around; 
    padding-left: 280px;
    padding-right: 280px;
    padding-bottom: 100px;
    color: #626262;

}

.link_unit{
    display: flex;
    padding-top: 75px;
    margin-left: 30px;
    margin-right: 30px;
}
.link_unit:first-child{
    color:#03a9f4;
}


section{
    width: 420px;
    font-size: 16px;
    padding-bottom: 135px;
}




.content_list{
    display: inline-block;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 110px;
    padding-right: 110px;
}

.content_part_name{
    display: block;
    font-size: 14px;
    color: #b4ad9e;
    text-transform: uppercase;
    padding-top: 25px;
}

h3{
    font-size: 30px;
    color: #626262;
}
p{
    font-size: 16px;
    line-height: 24px;
    color: #626262;
}

img{
    width: 420px;
}

.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; 
    padding-bottom: 60px;  
}
button{
    width: 165px;
    height: 60px;

}
.button_name{
    font-size: 20px;
    color: #626262;
}
@font-face {
	font-family: 'MyriadPro';
	src: url('MyriadPro-Regular.eot');
	src: url('MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('MyriadPro-Regular.woff') format('woff'),
		url('MyriadPro-Regular.ttf')  format('truetype'),
		url('MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
